**/.DS_Store

# python
**/__pycache__
**/.venv
**/secret.json
**/model.safetensors
**/llama.cpp
**/*.gguf
**/training_data
**/sft.json
**/*-finetuned-sft
**/finetuned-*

# node  
**/node_modules
package-lock.json

# common
**/.env

**/client_secret.json
**/app.sh

**/postcode_data_merged.csv

