accelerate==1.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
async-timeout==5.0.1
attrs==25.3.0
blinker==1.4
Brlapi==0.7.0
certifi==2025.4.26
charset-normalizer==3.4.2
cupshelpers==1.0
datasets==3.1.0
dill==0.3.8
distro==1.9.0
docstring_parser==0.16
entrypoints==0.3
eval_type_backport==0.2.2
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.9.0
hf-xet==1.1.3
huggingface-hub==0.32.4
idna==3.10
importlib_metadata==8.5.0
jetson-stats==4.3.2
Jinja2==3.1.6
louis==3.12.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.1
numpy==1.24.4
onboard==1.4.1
packaging==25.0
pandas==2.0.3
peft==0.13.2
pexpect==4.6.0
Pillow==7.0.0
propcache==0.2.0
psutil==7.0.0
pyarrow==17.0.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyxdg==0.26
PyYAML==5.3.1
regex==2024.11.6
requests==2.32.4
rich==14.0.0
safetensors==0.5.3
shtab==1.7.2
simplejson==3.16.0
six==1.17.0
smbus2==0.5.0
sympy==1.13.3
systemd-python==234
tokenizers==0.20.3
torch @ file:///home/moon/setup/torch-2.1.0a0%2B41361538.nv23.06-cp38-cp38-linux_aarch64.whl#sha256=5112e2ef5051f1003ae2ffb545ae596377df66979d62a954d774f18009064dbe
torchvision==0.14.0a0+5ce4506
tqdm==4.67.1
transformers==4.46.3
trl==0.11.4
typeguard==4.4.0
typing_extensions==4.13.2
tyro==0.9.24
tzdata==2025.2
urllib3==2.2.3
xkit==0.0.0
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
